/* шрифты */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital@0;1&display=swap");

/*  */
/* Header ----------------------- */
/*  */

header {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  background-color: #ffffff;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 142px;
  width: calc(340px + 100vw);

  padding-left: 12px;
  padding-right: 8px;
}
.headerContainer #logo {
  margin: 0;
  margin-top: -30px;
}

.buttomPushMenu ul {
  list-style: none;
  display: flex;
  width: 40px;
  height: 18px;
  flex-direction: column;
  justify-content: space-between;
}
.buttomPushMenu ul li { 
  background-color: #000000;
  height: 2px;
}

.headerNav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 124px;
}
.headerNav ul {
  list-style: none;
  display: flex;
  gap: 71px;
  width: 582px;
  height: 27px;
}
.headerNav ul li a {
  text-decoration: none;
  color: #000000;
}
.headerRight {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  min-width: 130px;
  width: calc(130px + (100vw - 1000px));
  margin-right: 5px;
}
.headerRight div {
  display: flex;
  margin: 1px;
  width: 58px;
  gap: 20px;
}
.headerRight #poisk {
  margin-top: 4px;
}

@media (max-width: 1000px) {
  header {
    margin-top: 10px;
  }
  .headerContainer #logo {
    margin-top: 10px;
  }
  .headerNav {
    gap: 115px;
  }
}
@media (min-width: 1000px) {
  .headerContainer {
    max-width: 1200px;
  }
}
@media (max-width: 970px) {
  .headerNav ul {
    display: none;
  }
}

@media (min-width:970px) {
  .buttomPushMenu {
    display: none;
  }
}

@media (max-width: 750) {
  .headerContainer {
    max-width: 640px;
  }
}

@media (max-width: 480) {
  .headerContainer {
    max-width: 460px;
  }
}

@media (max-width: 360) {
  .headerContainer {
    max-width: 340px;
  }
}
/*  */
/* main ------------------------- */
/*  */

/* header */
